body {
    background-image: url("./cartoon.jpg");
}

.test-btn-holder{
    text-align: center;
}
.test-btn {
    cursor: pointer;
    background-color: white;
    border-radius: 12px;
    font-size: 15px;

}
/* https://unsplash.com/photos/Pn7JBX42z3Q */